@tailwind base;

body {
  @apply bg-gray-900;
  height: 100vh;
}

main {
  min-height: calc(100vh - 135px);
}

#__next {
  min-height: 100vh;
}

@tailwind components;

@media only screen and (min-width: 640px) {
  #main-block {
    min-width: 512px;
  }
}
@tailwind utilities;
